*{margin:0; padding:0; box-sizing: border-box;}
ol, ul{list-style:none;}
a{text-decoration: none; color:#fff;}
.center{_min-width:1280px; width:90%; margin:auto; display:flex;}
.section{width:100%; height:auto; display:flex; align-items: center; justify-content: center; padding:100px 0; background:cadetblue; color:#fff;}